<%- include('partials/Header') %>
<!-- navabr start -->
<%- include('partials/Navbar') %>
<!-- navabr end  -->

<!-- application form start  -->
<section class="flex justify-center items-center mt-20 mb-10">
    <main id="form_1" class="bg-white w-3/5 rounded-lg px-10 py-14" style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <h1>
            Application Completed Successfully
        </h1>
    </main>
</section>
<!-- application form ends  -->

<%- include('partials/Footer') %>