<header class="flex justify-between items-center bg-white h-28 px-10 shadow-md">
    <div>
        <img src="https://msf.shapeportal.com/preview/logo/4018_logo_mainlogo.png" class="w-16" alt="">
    </div>
    <div>
        <div>
            <button class="bg-[#54D491] text-white w-44 h-12 rounded-md text-xl font-semibold mr-2">
                <a href="/portal/dashboard/application?form=1">Application</a>
            </button>
            <button class="bg-[#F4F4F4] text-black w-52 h-12 rounded-md text-xl font-semibold">
                <a href="/portal/dashboard/documents">Upload Documents</a>
            </button>
        </div>
    </div>
    <div>
        <button class="bg-white text-black h-12 rounded-md text-xl font-light shadow-md px-5 py-2" >
            <a href="/portal/logout">Sign Out</a>
        </button>
    </div>
</header>